.container{
    display: flex;
    flex-direction: row;
}

.left-container{
    background-color: lightgrey;
    margin-left: 15px;
    margin-top: 25px;
    height: 600px;
    width: 1000px;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
}

.right-container{
    height: 600px;
    margin-left: 50px;
    margin-top: 20px;
    /* background-color: brown; */
    /* width: 10000px; */
    }

.profile-info{
padding-left: 25px;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 20%;
    margin-top: 15px;
}

.bio{
    display: flex;
    flex-direction: row;
    }

.title{
    padding-left: 15px;
    display: flex;
    flex-direction: column; 
}

.sub-title{
    font-size: 15px;
}

.menu{
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    /* gap: 1px; */
}

.menu-info{
    /* padding-left: 2px; */
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap:30px

}
.icons{
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    gap:35px

}
.g-img{
    height: 20px;
    width: 20px;
    background-color: lightgrey;
}
.p-img{
    height: 15px;
    width: 15px;
    background-color:lightgray;
}
.i-img{
    height: 15px;
    width: 15px;
    background-color: lightgray;
}
.b-img{
    height: 15px;
    width: 15px;
    background-color: lightgrey;
}
.a-img{
    height: 15px;
    width: 15px;
    background-color: lightgray;
}
.l-img{
    padding-top: 150px;
    height: 15px;
    width: 15px;
    background-color: lightgrey;
}
.log{
    padding-top: 145px;
 
}
/* .y-1{
    /* display: flex; */
    /* padding-left: 700px; */
    /* gap: 500px; */
    /* margin-top: 500px; */

.y-2{
    color: white;
    /* margin: 50px; */
    text-align: left;
    /* padding-left: 500px;
    margin-top: 100px; */
    background-color: orangered;
    width: 500px;
    height: 200px;
    padding-left: 100px;
    justify-content: end;
    border-radius: 5%;
    /* width: 500px; */
    /* margin-left: auto; */
}


.billing-table{
    padding-top: 25px;
    width: 50%;
    display: flex;
    gap: 180px;
}
/* .right-two{
    margin-left: 1000px;
} */

.table-header{
    color: navy;
}
.b-1{
    height: 25px;
    background-color: white;
    border-radius: 14%;
    border-color: lightgray;
    border-width: 1px;
}
.b-2{
    height: 25px;
    background-color: white;
    border-radius: 14%;
    border-color: lightgray;
    border-width: 1px;
}
.b-3{
    height: 25px;
    background-color: white;
    border-radius: 14%;
    border-color: lightgray;
    border-width: 1px;
}
.b-4{
    height: 25px;
    background-color: white;
    border-radius: 14%;
    border-color: lightgray;
    border-width: 1px;
}
.load{
    padding-top: 30px;
    color: brown;
}
.payment-method{
    padding-top: 50px;
}

.visa-img{
height: 60px;
width: 60px;
border-color: lightgray;

}
.visa{
    display: flex;
    gap: 15px;
}
.remove{
    height: 25px;
    padding-top: 20px;
    padding-left: 60px;
}
.yp{
    padding-right: 70px;
}
.t1{
    width: 1000px;
}
.m{
    border-color: whitesmoke;
    background-color: orangered;
    color: white;
    border-radius: 10%;
    height: 30px;
}